.header {
    border: black solid 1px;
}

.title {
    display: flex;
    justify-content: center;
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    border: black solid 1px;
    padding: 5px;
}

.img {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 25px;
    width: 100px;
    height: 100px;
}

.img-border {
    border: 1px solid black;
}