body {
    background-color: #121212;
    color: white;
}


.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #BB86FC;
    background-color: #222222;
}

.score {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
}

.your-score {
    margin-left: 10px;
}

.title {
    display: flex;
    justify-content: center;
    grid-column-start: 2;
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    padding: 5px;
}

.img {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 25px;
    width: 100px;
    height: 100px;
}

.img-border {
    background-color: #222222;
    border: 1px solid #BB86FC;
    border-radius: 75px 25px;
    margin: 5px;
    height: 150px;
}